body {
    padding: 10px;
    margin: 25px;
    font-family: Montserrat, sans-serif;
}

li.nav-item {
    list-style: none;
    color:red;
}

/* new style */
/* top */
#user-section{
    padding:2px;
    align-items: center;
    justify-content: center;
}
/* welcome text to anon */
.welcome{
    font-family: "Dancing Script", serif;
    font-size: 30px;
}
#current-user{
    line-height: 12px;
    display: flex;
    align-self: center;
    justify-content: center;
}

/* sidebar and its child */
#sidebar :first-child > a ,
#sidebar :nth-child(2) > a{
    background-image: linear-gradient(90deg, #ce7c089b, rgba(238, 255, 0, 0));
    border-radius: 2px 11px 11px 11px ;
    margin-top: 5px;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.756);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sidebar :nth-child(4) > a ,
#sidebar :nth-child(5) > a ,
#sidebar :nth-child(6) > a {
    background-image: linear-gradient(90deg, rgb(0, 255, 106, 0.8), rgba(238, 255, 0, 0));
    border-radius: 2px 11px 11px 11px ;
    margin-top: 5px;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.756);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul.errorlist, .messages{
    background-color: rgba(255, 0, 0, 0.179);
    font-size: 20px;
    list-style: none;
    color: rgb(104, 3, 3);
    border-radius: 8px;
    max-width: 50vh;
}

#user-dropdown{
    border: none !important;
    text-align: center;
    padding-top: 1px;
    margin-top: 1px;

}

/* card styling */
.card {
    width: 12rem;
    height: 28rem;
    min-width:12rem;
    margin: 10px;
    border-radius: 10px 10px 10px 2px;
    display: flex;
}
/* next 2 remove the link styling (color and underline) */
.card-body > a:link{
    text-decoration: inherit;
    color: inherit;
}
.card-body > a:visited{
    text-decoration: inherit;
    color: inherit;
}

.card-body{
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:5px;
}

/* "description" flag and snippet body */
.card-body :nth-child(2),
.card-body :nth-child(3) {
    align-self: flex-start;
}
/* "description flag" closer to snippet + underline */
.card-body :nth-child(2){
    text-decoration: underline dotted;
    margin-bottom: -10px;
}

.card-title{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    color: rgb(200, 1, 1);
}
.card-price{
    font-size: 40px;
    font-weight: 600;
    color: rgb(200, 53, 0);
}
.currency{
    font-size: 25px;
    color: rgb(140, 38, 0);
}

.card-footer{
    background-color: rgb(173, 223, 161);
}
.OWNER-card-footer{
    background-color: rgb(161, 208, 223);
}
.inactive-card-footer{
    background-color: rgb(142, 142, 142);
}

/* owner of the auction, placed on top of card image */
.owner-tag, .poster-tag{
    background-color: rgb(0, 100, 251);
    border-radius: 10px;
    color: rgb(238, 238, 238);
    display: inline-block;
    margin: 2px;
    padding: 1px;
    width: fit-content;
    position:absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.poster-tag{
    background-color: rgb(3, 125, 46);
}
/* heart icon */


/* a container around card image to claim half of the card space in case of shorter images */
/* centers the image */
.card-image-container{
    height: 12rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}
.card-img-top{


    overflow: hidden !important;
}

/* item page */
#watchlist-button > img{
    height:30px;
    width:35px;
}
.like-toggle{
    position: absolute;
    right: 20px;
}
img[alt="item-image"]{
    max-width: 30vh;
    max-height: 30vh;

}
.descriptors{
    font-weight: bold;
    color: orangered;

}

/* bid input  style */
#id_bid{
    border-radius: 10px;
    border-style: solid;
    border-color: #FFC107;
}
#id_text{
    border-radius: 10px;
    border-style: solid;
    border-color: blue;
}
.your-username{
    color: rgb(0, 100, 251);
    font-weight: bold;

}
.other-username{
    color: rgb(3, 125, 46);
    font-weight: bold;
}
.form-field > *{
    border-radius: 7px;
    border-style: solid !important;
    border-color: rgb(197, 164, 19);
}

.category-box{
    font-family: "Dancing Script", serif;
    font-weight: bold;
    border: solid 3px #6C757D;
    border-radius: 35px 35px 35px 0px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: fit-width;

}

.category-box> a:link{
    text-decoration: inherit;
    color: #6C757D;
    font-size: 40px;

}
.category-box> a:visited{
    text-decoration: inherit;
    color: #6C757D;
}