{% extends "auctions/layout.html"%}

{% block title %}

{% if display_all %}
Categories
{%elif show_in_this_category %}
{{category.name}}
{%endif%}

{% endblock %}


{% block body %}
<!-- if no error was passed -->
{% if not error %}



<!-- IF page called via "display" context, shows list of cateogries with links-->
    {% if display_all %}

        <div class="container-fluid d-flex flex-wrap">

        <!-- FORLOOP to list all categories -->
        {% for category in all_categories %}
        <div class="category-box">
            <a href="{%url 'category' category.name%}">{{category.name | capfirst}}</a>
        </div>

        <!-- EMPTY FORLOOP to list all categories -->
        {% empty %}
        <p>No categories were registered</p>

        <!-- ENDOFR to list all categories -->
        {% endfor %}



        </div>
        <!-- ELIF called via "selected" context, shows all listing belonging to the selected category -->
    {%elif show_in_this_category %}



    <!-- IF there are active items IN THIS CATEGORY -->

    <!-- FOR every item belonging in that category -->
            {% for item in items_in_cat %}

            {%include 'auctions/card.html'%}
            {%empty%}

            <div class="alert alert-warning" role="alert"><h2>There are no active listing in this category</h2></div>
            <!-- ENDFOR Items to show -->
            {% endfor %}

            <!-- ELSE there are NO active items in this category -->


    <!-- ENDIF called via "display"/"selected" context -->

    {%endif%}
<!-- ELSE an error has been passed -->
{%else%}

   <div class="alert alert-info" role="alert"><h2><u>{{error}}</u> category doesn't exist</h2></div>

<!-- ENDIF error catching -->
{%endif%}
{%endblock%}