<div class="card">

    <span class="owner-tag">{{item.owner}}</span>

    <div class="card-body p-0 align-self-center">
        <a href="{% url 'item' item.id %}">
            <img src="{{item.image}}" class="card-img-top my-auto" alt="{{item.title}}"></a>
        <div class="row container-fluid justify-content-center">
            <a href="{% url 'item' item.id %}">
                <h5 class="card-title">{{item.title}}</h5>
            </a>
        </div>
        <p class="card-text">{{item.descr_snippet}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Price = {{item.current_bid}}</li>
        <!-- <li class="list-group-item">Current Bid = {{bid}}</li> -->

        <li class="list-group-item">Categ: {{item.category}}</li>
    </ul>
    <div class="card-body">
        <!-- place bid button link to item page -->
        <a href="{% url 'item' item.id %}" class="card-link">Place Bid</a>

        <!-- add to watchlist form -->
        <form action="{%url 'watch_toggle' item.id %}" method="post">
            {%csrf_token%}
            <!-- &lt; è escapechar per < (remember &lesserthan;) -->
            <button type="submit" name="watch_toggle" id="watchlist-button" class="btn btn-danger" ,
                value="follow">&lt;3</button>

        </form>
    </div>
</div>

