{%load static %}
<div class="card p-0 align-self-center overflow-hidden">
  {%if item.owner == request.user%}
  <span class="owner-tag">{{item.owner|capfirst}}</span>
  {%else%}
  <span class="poster-tag">{{item.owner|capfirst}}</span>
  {%endif%}

  <!-- if authenticated, see follow icon on top right -->
   <div class="card-image-container">
    <a href="{% url 'item' item.id %}">
      <img src="{{item.image}}" class="card-img-top" alt="{{item.title}}">
    </a>
  </div>
  <div class="card-body">
    <a href="{% url 'item' item.id %}">
      <h3 class="card-title">{{item.title}}</h3>
    </a>
    <small>Description:</small>
    <p class="card-text">{{item.descr_snippet}}.</p>
    <p class="card-text card-price">{{item.current_bid}} <span class="currency">$</span></p>
  </div>
  {%if item.active == False%}
  <div class="inactive-card-footer p-1">

    {%elif item.owner == request.user%}
  <div class="OWNER-card-footer p-1">

    {%else%}
  <div class="card-footer p-1">
  {%endif%}
    <small class="text-muted"><u>Posted:</u> {{item.date| date:"l M d y"}}</small>
  </div>

</div>