{% extends "auctions/layout.html" %}
{% block title %}Auctionly{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <h2>Active Listings</h2>
</div>

<div id="card-grid" class="container d-flex flex-wrap">


        {% for item in items_database%}

        {%if item.active%}

        <!-- <div class="col-sm-6 col-md-5 col-lg-4">include 'auctions/card.html'</div> -->
        {%include 'auctions/card.html' %}
        {%endif%}
        <!-- if no items -->
        {% empty %}

        <p class="messages">There are no active listings at the moment</p>

        {% endfor %}


</div>


{% endblock %}