{%extends "auctions/layout.html"%}

{% block body%}

{%if not error %}

    <!-- add to watchlist form -->
    <form action="{%url 'watch_toggle' item.id %}" method="post">
        {%csrf_token%}
        <!-- if usr is NOT watching listing, display button follow -->
        {%if is_watching == False %}

        <button type="submit" name="watch_toggle" id="watchlist-button" class="btn btn-danger" , value="follow">&lt;3</button>


        <!-- if usr is watching listing, display button unfollow. -->
        {%elif is_watching == True%}

            <button type="submit" name="watch_toggle" id="watchlist-button" class="btn btn-warning" , value="unfollow">&lt;/3</button>
        {%endif%}
        </form>

    <!-- people watching counter -->
    {%if not people_watching %}
    <!-- might change this -->
        <p><b>People watching =</b> (0)</p>
    {%else%}
        <p><b>People watching =</b> ({{people_watching}})</p>
    {%endif%}


        <!-- listing table -->
    <table>
        <tr>
            <th>Title:</th>
        </tr>
        <td>
            <h3 class="test-text">{{item.title}} </h3>
        </td>

        <tr>
            <th>Image</th>
        </tr>
        <td>
            <img src="{{item.image}}" alt="immagine" height="150px" width="150px">
        </td>
        <tr>
            <th>Description:</th>
        </tr>
        <td>
            <p class="test-text">{{item.description}}</p>
        </td>
        <tr>
            <th>Owner:</th>
            <th>Category</th>
            <th>Date Published</th>
        </tr>
        <tr>
            <td>
                <p class="test-text">{{item.owner}}</p>
            </td>
            <td>
                <p class="test-text">{{item.category}}</p>
            </td>
            <td>
                <p class="test-text">{{item.date}}</p>
            </td>
        </tr>


    </table>
    <!-- bid section -->
    <h4>Bidding</h4>
    {%if user.is_authenticated%}
        <!-- place bid form -->
        <p class="test-msg">place your bid</p>

        <!-- if not authenticated, insert reminder -->
    {%else%}
        <p class="test-msg"><u>you have to login/register to bid.</u></p>
    {%endif%}

    <h5><u>other things:</u></h5>

    <p><b>item id: </b> <span class="test-text">{{item.id}}</span>

    {%if item.active%}
        <p><em>Active</em></p>

        <!-- if user is owner, show Close Auct form -->
        {%if item.owner == user%}

            <div class="d-flex inline-block">
                <p class="mx-5"><em>IS OWNER</em></p>

                <form action="{%url 'close' item.id %}" method="post">
                    {%csrf_token%}

                    <button type="submit" class="btn btn-info" value="">Close Auction</button>
                </form>
            </div>
        {%else%}
        <div class="d-flex inline-block">
            <p class="mx-5"><em>NOT OWNER</em></p>
            <form action="{%url 'bid' item.id %}"method="post">
                {%csrf_token%}

                {{bid_form.bid}}
                <button class="btn btn-success" name="place_bid">Bid</button>
            </form>

        </div>
        {%endif%}

    {%else%}
    {%if item.owner == user%}
            <p>auction is closed, user <b>BUYER</b> bought it.</p>
        {%else%}
        <div class="d-flex inline-block">
            <p class="mx-5"><em>NOT OWNER BUT ITEM CLOSED</em></p>


        </div>
        {%endif%}
{%endif%}

{%elif error%}
    <h1>This item wasn't added yet</h1>

{%endif%}


{% endblock %}